.AboutWrapper {
  min-height: calc(100vh - 122px);
  padding-top: 100px;
  padding-bottom: 50px;

  @media (width >= 768px) {
    min-height: calc(100vh - 72px);
  }
}

.About {
  display: flex;
  gap: 50px;

  /* display: grid;
  gap: 50px;
  grid-template-columns: 1fr 750px;

  @media (width <= 1025px) {
    grid-template-columns: 1fr 1fr;
  } */
}

.InfoBlock {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  gap: 20px;

  .Text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.ImgBlock {
  width: 750px;
  height: 855px;

  .Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 0;
  }
}

.imgBlock {
  width: 750px;
  height: 530px;
  background: url('../../img/AboutWeb.jpg');

  @media (width <= 1025px) {
    width: 350px;
    height: 750px;
    background: url('../../img/AboutWeb_tablet.jpg');
  }

  @media (width <= 426px) {
    display: none;
  }
}
