.AboutWrapper {
  min-height: calc(100vh - 122px);
  padding-top: 100px;
  padding-bottom: 50px;

  @media (width >= 768px) {
    min-height: calc(100vh - 72px);
  }
}

.About {
  display: flex;
  gap: 50px;
}

.InfoBlock {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  gap: 20px;

  .Text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.ImgBlock {
  display: none;

  @media (width >= 768px) {
    display: inline-block;
    width: 750px;
    height: 855px;

    .Img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 65% 0;
    }
  }
}
