:root {
  --black-color: #2e2e2e;
  --dark-color: #3d3d3d;
  --white-color: #fff;
  --gray-cokor: #5a5a5a;
  --gray-light-cokor: #888;
  --font-primary: 'Spectral';
  --black-shadow: 0 1px 25px rgb(0 0 0 / 35%);
}

html {
  color: var(--black-color);
  font-family: var(--font-primary), system-ui;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

body {
  text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
pre,
input,
button,
fieldset {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#root {
  height: 100%;
}

.wrapper__shadows {
  /* position: fixed; */
  z-index: 1;
  top: 0;
  width: 100%;
  background: var(--white-color);
}
