.isH1 {
  font-size: 70px;
  font-weight: 600;
}

.isLogo {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.isTitle {
  font-size: 34px;
  font-weight: 600;
  line-height: 123.6%;
}

.isDescription {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 120%;
}

.isNormal {
  font-size: 16px;
  line-height: 26px;
}

.isLink {
  font-size: 14px;
  line-height: 24px;
}

.isLabel {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
}
