.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  animation: overlay-show 700ms ease-in-out;
  backdrop-filter: blur(5px);
  background-color: rgb(154 154 154 / 70%);
}

.OverlayClose {
  animation: overlay-close 300ms ease-in-out;
}

.WrapperContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Content {
  height: 800px;
  animation: content-show 450ms ease-out;
  box-shadow: var(--black-shadow);

  @media (width <= 1025px) {
    height: 500px;
  }

  @media (width <= 500px) {
    width: 375px;
    height: 100%;
  }
}

.ContentClose {
  animation: content-close 300ms ease-out;
}

.Info {
  animation: content-show 450ms ease-out;

  .InfoName {
    color: var(--black-color);
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }

  .InfoYear {
    color: var(--gray-cokor);
    font-size: 20px;
    text-align: center;
  }
}

.InfoClose {
  animation: content-close 300ms ease-out;
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes content-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(0.6);
  }
}
