.Wrapper {
  max-width: 350px;
  margin: 0 12.5px;
  margin: 0 auto;

  @media (width >= 768px) {
    max-width: 750px;
  }

  @media (width >= 1150px) {
    max-width: 1150px;
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;

  @media (width <= 426px) {
    z-index: 1;
    padding: 13px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .Logo {
    display: grid;
    order: -1;
    justify-self: center;
    text-decoration: none;

    @media (width <= 500px) {
      display: none;
    }
  }

  .LogoMobile {
    order: -1;

    @media (width >= 768px) {
      display: none;
    }
  }
}

.HeaderMobile {
  display: none;

  @media (width <= 500px) {
    z-index: 1;
    display: flex;
    padding: 13px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}
