.Burger {
  display: flex;
  align-items: center;
  gap: 20px;

  .ButtonStandard,
  .ButtonActive {
    all: unset;
    cursor: pointer;
  }

  .ButtonStandard {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: all 0.4s;
  }

  .ButtonActive {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    transition: all 0.4s;
  }
}
