.link {
  color: var(--colors-dark);
  text-decoration: none;
  transition: 100ms;

  &:hover {
    color: var(--gray-cokor);
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
